.button-free {
  display: block;
  margin: 10px 0 40px;
  padding: 15px 28px;
  background-color: #0061ff;
  border-radius: 1px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;
}