.header-wrapper {
  width: 100%;
  background: #fbfdff;
  border-bottom: 1px solid #ddeaff;
}

.header {
  display: flex;
  width: 1320px;
  height: 96px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-menu-wrap {
  display: flex;
  align-items: center;
}
